@tailwind base;
@tailwind components;
@tailwind utilities;

  @layer base {

@layer base {
  :root {
    --background: 151.2 49% 90%; /* #FFF5E1 - yellowish white */
    --foreground: 240 19% 16%; /* #082A3F - dark blue */
    --card: 0 0% 100%; /* #ffffff - white */
    --card-foreground: 240 19% 16%; /* #082A3F - dark blue */
    --popover: 0 0% 100%; /* #ffffff - white */
    --popover-foreground: 240 10% 3.9%;
    --primary: 146, 40%, 49%; /* green */
    --primary-foreground: 300 0% 100%; /* #ffffff - white */
    --secondary: 240 19% 16%; /*black*/
    --secondary-foreground: 300 0% 100%; /* #ffffff - white */
    --tertiary: 27 82% 98%;
    --muted: 240 4.8% 95.9%; /* #EEF1F5 - blueish white */
    --muted-foreground: 237 13% 40%; /* #53606C - grey blue */
    --accent: 151.2 49% 80%; /* #53606C - blueish green */
    --accent-foreground: 240 5.9% 10%; /* #151C23 - black */
    --destructive: 150.3,47.6%,54.3%; /* light green */
    --destructive-foreground: 0 0% 98%; /* #595959 - white */
    --border: 8 82% 92%;
    --input: 8 82% 92%;
    --ring: 146, 40%, 49%; /* green */
    --radius: 0.5rem;
  }

  .dark {
    --background: 240, 10%, 12%; /* dark blue */
    --foreground: 0 0% 95%; /* concrete */
    --card: 243 7% 8%; /* black (footer, header) */
    --card-foreground: 300 0% 100%; /* #ffffff - white */
    --popover: 0 0% 9%; /* #191919 - black */
    --popover-foreground: 0 0% 95%; /* concrete */
    --primary: 146, 40%, 49%; /* green */
    --primary-foreground: 300 0% 100%; /* #ffffff - white */
    --secondary: 243 7% 8%; /* black (footer, header) */
    --secondary-foreground: 300 0% 100%; /* #ffffff - white */
    --tertiary: 240, 10%, 12%; /* 237 22% 20% - dark blue*/
    --muted: 0 0% 15%; /* #262626 - lighter black */
    --muted-foreground: 0 0% 80%; /* 237 13% 63% - grey */
    --accent: 243 7% 8%; /* black (footer, header) */
    --accent-foreground: 300 0% 100%; /* #ffffff - white */
    --destructive: 150.3,47.6%,54.3%; /* light green */
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240, 10%, 15%; /* 237 22% 23% - lighter dark blue*/
    --input: 240, 10%, 12%; /* 237 22% 20% - dark blue*/
    --ring: 146, 40%, 49%; /* green */
  }
}

  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  .h1 {
    @apply text-6xl xl:text-[72px] xl:leading-[80px] tracking-[-2px] font-bold;
  }

  .h2 {
    @apply text-4xl font-bold
  }

  .h3 {
    @apply text-3xl font-bold
  }

  .h4 {
    @apply text-[22px] font-semibold
  }

  .subtitle {
    @apply text-muted-foreground text-base md:text-base lg:text-lg xl:text-xl mb-8 font-light;
  }

  .section-title {
    @apply text-4xl font-bold relative w-max flex items-center justify-between gap-x-3 before:w-[24px] before:h-[24px];
  }

  /* swiper bullets styles */
  .swiper-horizontal > .section-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    @apply bg-primary;
  }